# env khusus development, otomatis dijalankan saat development
# update script dev di package.json (jika belum) => "dev": "nuxt dev --dotenv .env.local"
# npm run dev

API_PROXY=https://********.com/admin/backend
NUXT_PUBLIC_API_BASE=/api
NUXT_PUBLIC_API_KEY=*********************