@import "tailwindcss";
@import "@nuxt/ui";

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 2px;
}